<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>679469589129-p7f6se5ugq2nd7k3o8rq5ovpjaeq94rc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.679469589129-p7f6se5ugq2nd7k3o8rq5ovpjaeq94rc</string>
	<key>API_KEY</key>
	<string>AIzaSyBZ4wPXani_1QyNh-MU2i_aQN5XZt_QUFw</string>
	<key>GCM_SENDER_ID</key>
	<string>679469589129</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.saisuicied.PhotoMap</string>
	<key>PROJECT_ID</key>
	<string>photomap-9a0d2</string>
	<key>STORAGE_BUCKET</key>
	<string>photomap-9a0d2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:679469589129:ios:80216017779d81a7935c58</string>
	<key>DATABASE_URL</key>
	<string>https://photomap-9a0d2.firebaseio.com</string>
</dict>
</plist>