<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>828510906710-46ud8a7vtjfhp09o965abi65injtrb7g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.828510906710-46ud8a7vtjfhp09o965abi65injtrb7g</string>
	<key>API_KEY</key>
	<string>AIzaSyDwYADT5t9x3nXm2qP7lOyoeloyPkAR110</string>
	<key>GCM_SENDER_ID</key>
	<string>828510906710</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kirylharbachonak.PhotoMap</string>
	<key>PROJECT_ID</key>
	<string>photomap-88085</string>
	<key>STORAGE_BUCKET</key>
	<string>photomap-88085.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:828510906710:ios:b9b44040ccf32dce29cef7</string>
	<key>DATABASE_URL</key>
	<string>https://photomap-88085.firebaseio.com</string>
</dict>
</plist>